@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Italiana&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #C5B8B8;
  border: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }

header {
  background-color: #442C0F;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  position: sticky;
}

header img {
  width: 4%;
}

header p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

header p:hover {
  color: gray;
  transition: all 1s;
}

.menu-openner img {
  width: 70%;
}


.menu-openner {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
}

.menu-openner span {
  margin-right: 5px;
  margin-bottom: 50px;
}

.menu-closer {
  cursor: pointer;
  width: 10%;
}

.vinhosheader {
  background-color: #C5B8B8;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vinhosheaderlinha {
  width: 60%;
  height: 1%;
  background-color: #5b390f;
}

.vinhosheaderfrase {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vinhosheaderfrase p {
  font-family: 'Italiana', sans-serif;
  font-size: 40px;
  color: #442C0F;
}

main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
}

.pizza-item {
  width: 14%; /* Defina a largura desejada para cada item de pizza */
  margin: 20px;
  box-sizing: border-box; /* Garante que a largura inclua o preenchimento e a borda */
  margin-bottom: 20px; /* Espaçamento entre as linhas */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  cursor: pointer;
  /* min-width:12%; */
}

.pizza-area.five-per-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Espaçamento entre os itens */
}


.pizza-item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura do item */
  max-height: 100%; /* Garante que a imagem não ultrapasse a altura do item */
}

.pizza-item h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.pizza-item p {
  font-size: 0.9rem;
  color: #777;
}

.pizza-item button {
  background-color: #442C0F;
  color: #fff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pizza-item button:hover {
  background-color: #5b390f;
}

.pizza-area {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

aside {
  width: 300px;
  background-color: rgb(68, 44, 15, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.3s ease-in-out;
  height: 100vh;
  overflow-y: auto;
  
}

.show {
  right: 0;
}

.cart--area {
  padding: 20px;
}

.carrinhotitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  /* font-weight: 100; */
  color: white;
  height: 10vh;
}

.cart--item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cart--item img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.cart--item-nome {
  flex-grow: 1;
  font-weight: bold;
}

.cart--item--qtarea button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart--item--qtarea button:hover {
  background-color: #555;
}

.cart--item--qt {
  margin: 0 10px;
}

.cart--details {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.cart--totalitem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart--totalitem span {
  font-weight: bold;
}

.cart--finalizar {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart--finalizar:hover {
  background-color: #555;
}

.pizzaWindowArea {
  align-self: center;
  justify-self: center;
  width: 80%;
  height: 80vh;
  background-color: red;
  position: fixed;
  display: flex;
}

.pizzaWindowArea img {
  width: 20%;
}

.pizzaWindowBody {
  display: flex;
  justify-content: center;
  align-items: center;
}